<phpunit bootstrap="bootstrap.php" colors="true" testdox="true">
    <testsuites>
        <testsuite name="unit">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>