<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}My App{% endblock %}</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ url('review.index') }}">Értékelések</a></li>
                <li><a href="{{ url('review.new') }}">Új értékelés</a></li>
                <li><a href="{{ url('company_stats.index') }}">Összesített cégstatisztika</a></li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>